#contact {
    padding: 90px 0;
    background-color: #F3F3F3;
}

.contact__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.contact__text {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    color:  #737373;
}

.contact__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contact__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: calc(33.33% - 20px);
    padding: 50px 40px;
    background-color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.contact__card:hover  {
    background-color: #252B42;
}

.contact__card__email {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.contact__card:hover .contact__card__email {
    color: #fff;
}

.contact__card:hover .contact__card__img path {
    fill: #fff;
}

.contact__card__title {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.contact__card:hover .contact__card__title {
    color: #fff;
}

.contact-btn {
    padding: 10px 20px;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    border: none;
    border-radius: 5px;
    border: 1px solid #FFA62B;
    color: var(--secondar-color);
}

.contact__card:hover .contact-btn {
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 1000px) {
    .contact__cards {
        justify-content: center ;
    }

    .contact__card {
        width: calc(50% - 15px);
    }
}

@media (max-width: 700px) {
    .contact__card {
        width: 100%;
    }
}